body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 auto;
    
}

/* first container */
.first-container {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 90px;
    padding-top: 0;
    

}

/* Header logo and links */
.header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px; 
}

ul {
    list-style: none;
    display: flex;
    
    gap: 20px;
}

li > a,
.sub-title {
    color: #e5e7eb;
    font-size: 18px;
}

.font-logo {
    font-size: 24px;
    font-weight: bold;
}


/* Title and image */
.page-title {
    display: flex;
    justify-content: space-between;  
    padding: 20px 40px;
    gap: 20px;   
}

.img-placeholder {
    background-color: #414b58;
    color: #f9faf8;
    padding: 30px 40px;
    display: flex;
    align-items: center;
    margin: 0;
}

.main-title {
    font-size: 42px;
    font-weight: bold;
}

/* second container */